{
  "api_url": "https://coordinates-api.pokemongopro.com/search",
  "interval_min": 10,
  "interval_max": 60,
  "payload": {
    "pvp_mode": false,
    "pvp_league": "great",
    "pvp_top_rank": null,
    "pvp_include_pre_evolutions": true,
    "pvp_min_cp": null,
    "pokemon_ids": [],
    "species_forms": [],
    "location": null,
    "cp_min": null,
    "cp_max": null,
    "level_min": null,
    "level_max": null,
    "iv_mode": "percent",
    "iv_percent_min": 0,
    "iv_percent_max": null,
    "raw_iv_atk": null,
    "raw_iv_def": null,
    "raw_iv_sta": null,
    "sizes": [],
    "forms": [],
    "gender": null,
    "boosted": null,
    "weather_id": null,
    "min_ttl": null,
    "sort": "IV",
    "center_lat": null,
    "center_lng": null,
    "radius_km": null,
    "blacklist_pokemon_ids": [],
    "blacklist_species_forms": [],
    "blacklist_forms": []
  }
}
